body {
    background: rgb(57, 57, 58);
}
h1 {
  color: red;
  text-align: center;
  background: black;
  font-size: xx-large;
}
h3 {
    color: white;
    text-align: center; 
    font-size: x-large;
}
.selfie {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: auto;
    margin-top: auto;
}
.about-body {
    color: white;
    font-size: x-large;
    text-align: center;
}
h2 {
    text-align: center;
    color: red;
}
.contact-body {
    color: white;
    font-size: x-large;
    text-align: center;
}
h2.social-links {
    text-align: center;
    color: white;
}
.projects-body {
    text-align: center;
    color: white;
}